*{
    box-sizing: border-box;
}
body{
    font-family: 'Markazi Text', serif;
    font-size: 1.3em;
    background-color: rgba(50,50,50,0.5);
    margin: 0px;
    padding: 0px;
    border: 0px;
}


#userModal{
    background-color: rgba(0,0,0,0.8);
}

.modal-header{
    background-color: black;
    color: antiquewhite;
    text-shadow: 1px 0px rgba(100,100,100,0.8);
}

.modal-footer{
    background-color: black;
    color: antiquewhite;
    text-shadow: 1px 0px rgba(100,100,100,0.8);
}
#usernamebtn{
    outline: none;
    font-size:22px;
    padding: 5px 20px;
}
#usernamebtn:hover, #usernamebtn:focus{
    background-color: rgba(80,80,250,1);
    outline: none;
    color: antiquewhite;
}

#inputIsEmpty{
    color: red;

}

#chessBoardColumn{
    margin: 2vw 25vw;   
}

.board{
    box-sizing: content-box;
    margin: 0px;
    min-height: 6vw;
    min-width: 6vw;
    padding: 0px;
    border: 1.5px solid black;
}
.board img{
    box-sizing: content-box;
    height: 5vw;
    width: 5vw;
}